.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: white;
}
.header {
  padding: 60px;
  text-align: center;
  background: #FF9E42;
  color: white;
}
.content {padding:20px;}
